<% if params[:city].nil? %>
<% @default_value = 'select_city'%>
<% else %>
<% @default_value = params[:city]%>
<% end %>
<table class="table-strip" border=2>
  <tr>
    <td colspan="2"  align=center>
      <%= form_tag  get_city_wise_cleaner_path,method: :get  do %>
        <%= select_tag 'city', options_from_collection_for_select(@city, 'name', 'name'),prompt:@default_value ,onchange: "this.form.submit()" %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2"  align=center><h4 style="color:red"><%= notice%><h4></td>
  </tr>
  <% unless @cleaner.nil?%>
  <tr>
    <td colspan="2"  align=center><h1><%= params[:city] %> Cleaner List</h1></td>
  </tr>

  <tr>
    <td  align=center colspan="2">
      <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

          <ul>
          <% @booking.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
        <% end %>
    </td>
  </tr>
  <%= form_for @booking,url: {action: 'create'} do |f| %>
  <tr>
    <td><%= f.label :cleaner %> </td>
    <td>  <%= select_tag 'cleaner', options_from_collection_for_select(@cleaner, 'id', 'first_name'),prompt: '-- Select cleare --',class: "form-control" %> </td>
  </tr>
  <tr>
    <td><%= f.label :time %></td>
    <td><%= f.datetime_select :datetime %></td>
  </tr>
  <%= hidden_field(:city_name,params[:city])%>
  <tr>
    <td colspan="2" align=center><%= f.submit "submit" ,class:'btn btn-primary'%></td>
  </tr>
  <% end %>
  <% else%>
  <tr>
    <td>
      <h1>Sorry No cleaner found</h1>
    </td>
  </tr>
  <% end %>
</table>
