<h1>Listing Bookings</h1>

<table border=2 class="table table-bordered">
  <tr>
    <th> Customer name </th>
    <th> Cleaner name </th>
    <th> City </th>
    <th> Date And Time </th>
  </tr>
<% @bookings.each do |booking|%>
    <tr>
      <td><%= booking.customer.first_name %> <%= booking.customer.last_name  %></td>
      <td><%= booking.cleaner.first_name %> <%= booking.cleaner.last_name %></td>
      <td><%= booking.city.name %></td>
      <td><%= booking.datetime.localtime.strftime("%m/%d/%Y %H:%M") %></td>
      <td><%= link_to 'Show', booking %></td>
    </tr>
<% end %>
<% if current_admin.nil? %>
  <%= link_to 'New Booking', new_booking_path  %>
<% end %>
