<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @booking.customer.first_name+' '+@booking.customer.last_name %>
</p>
<p>
  <strong>Cleaner:</strong>
  <%= @booking.cleaner.first_name+' '+@booking.cleaner.last_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @booking.city.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @booking.datetime.localtime.strftime("%m/%d/%Y %H:%M") %>
</p>

<%= link_to 'Back', bookings_path %>
