<table border=2>
  <tr>
    <th> Date And Time </th>
    <th> Customer name </th>
    <th> Cleaner name </th>
    <th> City </th>
  </tr>
<% @bookings.each do |booking|%>
    <tr>
      <td><%= booking.date %></td>
      <td><%= booking.customer.first_name %> <%= booking.customer.last_name  %></td>
      <td><%= booking.cleaner.first_name %> <%= booking.cleaner.last_name %></td>
      <td><%= booking.city.name %></td>
    </tr>
<% end %>
