<% if current_admin%>
<h1>Customer Details </h1>
<table border=2 class="table table-bordered">
  <tr>
    <th> Name </th>
    <th> Phone_number </th>
    <th> Show </th>
  </tr>
<% @customers.each do |customer|%>
    <tr>
      <td><%= customer.first_name+' '+customer.last_name %></td>
      <td><%= customer.phone_number %></td>
      <td><%= link_to 'Show', customer %></td>
    </tr>
<% end %>
</table>
<% else %>
<p id="notice"><%= notice %></p>

<h1>Booking Details </h1>
<table border=2>
  <tr>
    <th> Date And Time </th>
    <th> Cleaner name </th>
    <th> City </th>
  </tr>
  <% @bookings.each do |booking|%>
  <tr>
    <td><%= booking.datetime.localtime.strftime("%m/%d/%Y %H:%M") %></td>
    <td><%= booking.cleaner.first_name %> <%= booking.cleaner.last_name %></td>
    <td><%= booking.city.name %></td>
    <td><%= link_to 'Show', booking %></td>
  </tr>
  <% end %>
</table>

<% end %>
