<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>
<% if current_admin.nil?%>
<h3><%= link_to 'Edit', edit_customer_path(@customer) %> |</h3>
<% end %>
<h3><%= link_to 'Back', customers_path %></h3>
